.about__image img{
    width: 350px;
}

.about__skills {
    width: 50%;
}


@media (max-width: 576px) { 
    
 }

@media (max-width: 768px) { 
    .about__image{
        display: none;
    }
    .about__skills {
        width: 80%;
        text-align: center;
    }
 }